@media only screen and (min-width: 320px) {

    .frame {
        margin-top: 35em;
    }

}

@media (min-height: 812px) and (min-width: 375px) {

    /* CSS stuff */
    .frame {
        margin-top: 25em;
    }
}

@media only screen and (min-width: 400px) {

    .frame {
        margin-top: 30em;
    }
}

/** Tablets **/
@media only screen and (min-width: 768px) {

    .wrapper {
        grid-template-columns: 58% 42%;
    }

    .frame {
        margin: 0;
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .template {
        display: grid;
    }

    .hamburger-menu {
        justify-self: end;
        grid-column: 2/3;
        margin-top: 3em;
        margin-right: 3em;
    }

    .hamburger-menu img {
        width: 55px;
    }

    .logo {
        justify-self: end;
        margin-top: 2.5em;
    }

    .hero {
        text-align: center;
        margin-right: 4em;

    }

    .hero img {
        width: 240px;
    }

    .content {
        margin-right: 7em;
        margin-top: 8em;
    }

    .content p,
    .user input {
        font-size: 20px;
    }

    .content p {
        width: 400px;
    }

    .btn {
        height: 60px;
        font-size: 20px;
    }

    .pic1 {
        grid-column: 1;
    }

    .pic2 {
        grid-column: 2;
    }

    .pic7 {
        display: none;
    }

    .pic8 {
        display: block;
    }
}



/** Big Tablets **/
@media only screen and (min-width: 1024px) {

    .frame {
        margin-top: 8em;
    }

    .logo img {
        width: 160px;
    }

    .hero img {
        width: 300px;
    }

    .content {
        margin-top: 10em;
    }

    .content p,
    .user input {
        font-size: 28px;
    }

    .content p {
        width: 500px;
    }

    .btn {
        font-size: 28px;
        height: 70px;
        width: 400px;
    }

}
