@font-face {
    font-family: Poppins-Light;
    src: url(fonts/Poppins/Poppins-Light.ttf);
}

@font-face {
    font-family: Poppins-SemiBoldItalic;
    src: url(fonts/Poppins/Poppins-SemiBoldItalic.ttf);
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url(fonts/Poppins/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: Avenir-Heavy;
    src: url(fonts/Avenir/Avenir-Heavy.ttf);
}

@font-face {
    font-family: Avenir-Roman;
    src: url(fonts/Avenir/Avenir-Roman.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/** section 1 **/

.home-page {
    background: #FED330;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100vw;
    height: 100vh;

}


/** 1fr 1fr 1fr **/
.logo,
.about-logo {
    justify-self: center;
    margin-top: 20%;
    margin-bottom: 30px;
}

.logo img,
.about-logo img {
    width: 125px;
}


.hero,
.about-hero {
    margin-top: 10%;
}

.hero img,
.about-hero img {
    width: 200px;
}

.content {
    padding-bottom: 50px;
    margin-top: 15%;
    text-align: center;
}

.content p {
    font-family: Poppins-Light;
    font-size: 18px;
}

.content p i {
    font-family: Poppins-SemiBoldItalic;
}

.content p b {
    font-family: Poppins-SemiBold;
}

.content p span {
    background-color: #FF9F1A;
}

.content,
.user,
.hero,
.about-hero {
    justify-self: center;
}

.user input {
    font-family: Poppins-Light;
    padding: 20px 50px;
    border-bottom: 0.2px solid black;
    overflow: hidden;
    outline: none;
    margin-bottom: 15%;
    margin-top: 10%;
    font-size: 18px;
    border-left: none;
    border-right: none;
    border-top: none;
    background: #FED330;
}

.btn {
    background: black;
    border-radius: 10px;
    color: white;
    font-family: Poppins-Light;
    width: 80%;
    text-decoration: none;
    cursor: pointer;
    height: 50px;
    font-size: 18px;
    margin-bottom: 50px;
    border: solid black;
}

.btn:hover {
    background: none;
    text-decoration: none;
    border: solid black 2px;
    border-radius: 15px;
    color: black;
}

/** section 2 **/

.frame {
    display: grid;
    margin-top: 28em;
}

.template {
    display: grid;
}

.category {
    position: absolute;
    color: white;
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: Poppins-Light;
    font-size: 50px;
    background-color: rgba(234, 105, 32, 0.5);
    transition: .5s ease;
    display: none;
}

.category a {
    text-decoration: none;
    background: none;
    color: white;
}

.pic,
.pic8 {
    position: relative;
}

.pic:hover .category,
.pic8:hover .category8 {
    display: block;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    background: none;
}

.pic img,
.socials {
    display: block;
    width: 100%;
}

.social {
    background-color: black;
    height: 150px;
}

.icons,
.icons img {
    background-color: black;
}

.icons {
    text-align: center;
    margin-top: 20px;
    margin-left: 15px;
}

.social span {
    font-family: Avenir-Heavy;
    background-color: black;
}

.pic8 {
    display: none;
}

.social p,
.social a {
    background-color: black;
    color: white;
    font-family: Avenir-Roman;
    text-align: center;
    font-size: 14px;
    margin-top: 30px;
    text-decoration: none;
}

.icons img {
    margin-right: 20px;
}

.ig,
.msg {
    width: 20px;
}

.dot {
    width: 4px;
    margin-bottom: 6px;
}

/** ABOUT PAGE **/

.about-page {
    background: #FF9F1A;
}

.about-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 100vw;
    height: 100vh;

}

.about-content {
    text-align: center;
    margin-bottom: 20px;
    justify-self: center;
}

.about-content h1 {
    margin-top: 30px;
    font-family: Poppins-SemiBold;
}

.about-content p {
    font-family: Poppins-Light;
    π

.about-content a {
    margin-bottom: 20px;
    text-decoration: none;
    color: black;
    font-family: Poppins-Light;
}