@font-face {
    font-family: Poppins-Light;
    src: url(fonts/Poppins/Poppins-Light.ttf);
}

@font-face {
    font-family: Poppins-SemiBoldItalic;
    src: url(fonts/Poppins/Poppins-SemiBoldItalic.ttf);
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url(fonts/Poppins/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: Avenir-Heavy;
    src: url(fonts/Avenir/Avenir-Heavy.ttf);
}

@font-face {
    font-family: Avenir-Roman;
    src: url(fonts/Avenir/Avenir-Roman.otf);
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #FED330;
}

/** section 1 **/

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 100vw;
    height: 100vh;
    background: #FED330;

}

.menu {
    margin-right: 40px;
    grid-row: 1;
    justify-self: end;
    margin-top: 10%;
}

.menu img {
    width: 40px;
}


/** 1fr 1fr 1fr **/
.logo {
    justify-self: center;
    margin-top: 20%;
    margin-bottom: 30px;
}

.logo img {
    width: 125px;
}


.hero {
    margin-top: 10%;
}

.hero img {
    width: 200px;
}

.content {
    padding-bottom: 50px;
    margin-top: 15%;
    text-align: center;
}

.content p {
    font-family: Poppins-Light;
    font-size: 18px;
}

.content p i {
    font-family: Poppins-SemiBoldItalic;
}

.content p b {
    font-family: Poppins-SemiBold;
}

.content p span {
    background-color: #FF9F1A;
}

.content,
.user,
.hero {
    justify-self: center;
}

.user input {
    font-family: Poppins-Light;
    padding: 20px 50px;
    border-bottom: 0.2px solid black;
    overflow: hidden;
    outline: none;
    margin-bottom: 15%;
    margin-top: 10%;
    font-size: 18px;
    border-left: none;
    border-right: none;
    border-top: none;
}

.btn {
    background: black;
    border-radius: 15px;
    color: white;
    font-family: Poppins-Light;
    width: 80%;
    text-decoration: none;
    cursor: pointer;
    height: 50px;
    font-size: 18px;
    margin-bottom: 50px;
}

.btn:hover {
    background: #FF9F1A;
    text-decoration: none;
    border: solid black 2px;
    border-radius: 15px;
}
/** section 2 **/

.frame {
    display: grid;
    margin-top: 28em;
}

.pic img,
.socials {

    width: 100%;
    margin-bottom: -0.4em;
}

.social {
    background-color: black;
    height: 150px;

}

.icons,
.icons img {
    background-color: black;
}

.icons {
    text-align: center;
    margin-top: 20px;
    margin-left: 15px;
}

.social span {
    font-family: Avenir-Heavy;
    background-color: black;
}

.social p {
    background-color: black;
    color: white;
    font-family: Avenir-Roman;
    text-align: center;
    font-size: 14px;
    margin-top: 30px;
}

.icons img {
    margin-right: 20px;
}

.ig,
.msg {
    width: 20px;
}

.dot {
    width: 4px;
    margin-bottom: 6px;
}

